extends layout.pug

block append styles
  link(rel='stylesheet' href='/styles/cloud.css')

block navContent
  button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span(class='navbar-toggler-icon')
  div(class='collapse navbar-collapse', id='navbarNav')
    ul(class='navbar-nav ml-auto')
      each cat in categories
        - var liClass = 'nav-item'
        - if (cat === category) liClass += ' active';
        li(class=liClass) 
          a(class='nav-link', href='/?category=' + cat) #{cat.replace(/^\w/, c => c.toUpperCase())}

block append content
  p(id='cloud')
    each word in Object.keys(count)
      - var bucket = 0;
      - var sum = count[word]
      - if (sum > avg + 4 * std) bucket = 5;
      - else if (sum > avg + 2 * std) bucket = 4;
      - else if (sum > avg + std) bucket = 3;
      - else if (sum > avg + 0.5 * std) bucket = 1;
      if bucket > 0
        a(class='bucket' + bucket, href='/keyword/' + word)= word