body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#cloud {
  margin: 0 0 5% 0;
  text-align: center;
}

#cloud > a {
  margin: 4px;
  padding: 0 2px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.bucket1 {
  font-size: 20px;
  color: #343a40;
}

.bucket1:hover {
  color: #fff;
  background-color: #343a40;
}

.bucket2 {
  font-size: 28px;
  color: #3cde96;
}

.bucket2:hover {
  color: #fff;
  background-color: #3cde96;
}

.bucket3 {
  font-size: 44px;
  color: #4130c1;
}

.bucket3:hover {
  color: #fff;
  background-color: #4130c1;
}

.bucket4 {
  font-size: 76px;
  color: #4582ec;
}

.bucket4:hover {
  color: #fff;
  background-color: #4582ec;
}