body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#cloud {
  margin: 0;
  text-align: center;
}

#cloud > a {
  margin: 2px;
  padding: 0 2px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.bucket1 {
  font-size: 16;
  color: #343a40;
}

.bucket1:hover {
  color: #fff;
  background-color: #343a40;
}

.bucket2 {
  font-size: 20;
  color: #388c6b;
}

.bucket2:hover {
  color: #fff;
  background-color: #388c6b;
}

.bucket3 {
  font-size: 28;
  color: #3cde96;
}

.bucket3:hover {
  color: #fff;
  background-color: #3cde96;
}

.bucket4 {
  font-size: 44;
  color: #4130c1;
}

.bucket4:hover {
  color: #fff;
  background-color: #4130c1;
}

.bucket5 {
  font-size: 76;
  color: #4582ec;
}

.bucket5:hover {
  color: #fff;
  background-color: #4582ec;
}