#timeline, #articles {
  padding-bottom: 5%;
}

#canvas {
  margin-top: 1em;
}

#keyword {
  color: #4582ec;
}

a.title {
  display: block;
  text-decoration: none;
}

a.title:hover {
  text-decoration: underline;
}